

a {
	text-decoration: none;
}
ul li {
	list-style: none;
}
body {
	font-size: 18px;
}
.header_bar {
	background-color: #0062BC;
	padding:5px;
}

.chooseLanguage {
	float: right;
}
.menu_left ul li a {
	color: #FFFFFF;
}
.minder_home {
	font-size: 35px;
	font-weight: bold;
	color: #FFFFFF;
}
footer {
	padding:100px 0px 50px 0px;
	background-color: #FFFFFF;
}
footer a {
	color:#6e6f71;
	font-weight: 400;
}
footer ul {
	margin-left: -30px;
}
.goolge_login_button,
.facebook_login_button
{
	padding: 5px 0px;
	border-radius: 15px;
	margin:5px 1px;
}
.goolge_login_button a ,
.facebook_login_button a {
	padding-top:10px;
}

.goolge_login_button {
	background-color: #ef3f37;
}
.facebook_login_button{
	background-color: #1176bc;
}
.icon_google,
.icon_facebook
{
	color: #FFFFFF;
}
.goolge_login_button a:first-child .icon_google,
.facebook_login_button a:first-child .icon_facebook
{
	font-size: 50px;
}
.goolge_login_button a:first-child,
.facebook_login_button a:first-child
{
	border-right:2px solid #FFFFFF;
	padding-left: 15px;
}
 
.goolge_login_button span,
.facebook_login_button span {

}
.username input,
.password input
{

	padding: 7px 20px;
	border-radius: 11px;
	border:1px solid #000000;
}


.username label,
.password label
{
	margin-left: -15px;
	padding-top: 15px;
	color:#000000;
	font-weight: 500;
	padding-top: 15px; ;
}

.hr_1{
	position: absolute;
	top: -8px;
}
.hr_2 {
	position: absolute;
	right: 0px;
	top: -8px;
}
.hr_text {
	position: absolute;
	left: 160px;
	top: 0px;
}
.form_login_ .col-md-5 {
	background-color: #FFFFFF;
	margin:0px auto 100px;
	padding: 20px 0px 10px 25px;
	border-radius: 15px;
	box-shadow: 0px 0px 15px 0px #d1d2d3 ;

}
.submit_form button {
	margin: 30px 0px;
	padding: 7px 0px ;

	border-radius: 11px;
	border: none;
	background-color: #14a751;
	color:#FFFFFF;
	font-weight: 400;
}
.text_login h4 {
	font-weight: 500;
	font-size: 20px;
}
.goolge_login_button a,
.facebook_login_button a
{
	text-decoration: none;
}
.text_border {
	border: 1px solid #dbdcde;  /* #dbdcde*/	
	margin: 20px 0px 10px 0px;
	color: #dbdcde;
}
.text_border:before {
	content: "hoặc";
	position: absolute;
	left: 42%;
	background: #fff;
	top: 0px;
	padding: 10px;
}

.dieukhoan {
	padding-top:30px ;
	margin-left: -30px;
}
.text_dieukhoan{
	color:#63b8e7;
}
.bt_choose_language {
	margin-top: 10px;
}
.input-group-btn .bt_choose_language {
	margin-top:10px;
}
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
    text-decoration: none;
}
.menu_respon a{
	text-decoration: none;
	margin-top:20px;
}
.menu_button:hover{
	background-color: #125991;
	border-radius: 2px;
	color:#FFFFFF;
}
.menu_button a:hover {
	color:#FFFFFF;
}

.menu_left ul li{
	margin-left: 30px;
}
.minder_home:hover{
	color:#f9f9f9;
}
#showMenu ul li .menu_hover:hover
{
	color: #FFFFFF;
}
.navbar-default .navbar-nav li a {
	color: #ffffff;
}
.caret {
	margin-left: 2px;
	vertical-align: middle;
	border-top: 12px dashed;
	border-top: 4px solid\9;
	border-right: 12px solid transparent;
	border-left: 12px solid transparent;
}
.flag_ {
	width: 20px;
	height: 20px;
}
.form_login_ .container .row {
	display: flex;
}
.taikhoan {
	padding-right: -15px;
}