

a {
	text-decoration: none;
}
ul li {
	list-style: none;
}
body {
	font-size: 18px;
}

.header_bar {
	background-color: #0062BC;
	padding:5px;
}

.chooseLanguage {
	float: right;
}
.menu_left ul li a {
	color: #FFFFFF;
}
.minder_home {
	font-size: 35px;
	font-weight: bold;
	color: #FFFFFF;
}
footer {
	padding:100px 0px 50px 0px;
	background-color: #FFFFFF;
}
footer a {
	color:#6e6f71;
	font-weight: 400;
}
footer ul {
	margin-left: -30px;
}
 
.bt_choose_language {
	margin-top: 10px;
}
.input-group-btn .bt_choose_language {
	margin-top:10px;
}
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
    text-decoration: none;
}
.menu_respon a{
	text-decoration: none;
	margin-top:20px;
}
.menu_button:hover{
	background-color: #125991;
	border-radius: 2px;
	color:#FFFFFF;
}
.menu_button a:hover {
	color:#FFFFFF;
}

.menu_left ul li{
	margin-left: 30px;
}
.minder_home:hover{
	color:#f9f9f9;
}
#showMenu ul li .menu_hover:hover
{
	color: #FFFFFF;
}
.navbar-default .navbar-nav li a {
	color: #ffffff;
}
.caret {
	margin-left: 2px;
	vertical-align: middle;
	border-top: 12px dashed;
	border-top: 4px solid\9;
	border-right: 12px solid transparent;
	border-left: 12px solid transparent;
}
.flag_ {
	width: 20px;
	height: 20px;
} 

/*FORM LOGIN*/

.form_login,
.form_register
{
	background-color: #FFFFFF;
	padding: 20px 20px 50px 20px ;
	border-radius: 10px;
	margin-bottom: 100px;
}
.google_login{
	background-color: #EE4036;
}
.face_login {
	background-color: #1B75BB;
}
.face_login,
.google_login {
	border-radius: 15px;
	padding:8px 0px;
	margin-left: -1px;
}

.minder_login button,
.submit_form_register button
 {
	background-color: #00A551;
	border-radius: 12px;
	padding:12px 0px;
	color:#FFFFFF;
	text-transform: none;
	font-size: 20px;
	border:none;
}
.btn:not(.btn-raised) {
	color:#FFFFFF;
}

.minder_login button:hover {
	background-color: #00A551;
	color:#000000;
}
.goo_face_login .btn-group {
	margin:8px 20px;
}
.form_login .row,
.face_login,
.google_login
{
	display: flex;
}
.minder_login.col-md-11 {
	padding-right: 10px;
	padding-left: 16px;
}
.minder_login
{	
	margin:0px auto;
}
.face_login i,
.google_login i {
	font-size: 50px;
	color: #FFFFFF;
}
.face_login a.btn,
.google_login a.btn {
	border-right: solid 2px #FFFFFF;
} 
.face_login a,
.google_login a,
.pass_regis a
 {
	text-decoration: none;
}
.face_login span,
.google_login span {
	color:#FFFFFF;
} 
.face_login a:last-child,
.google_login a:last-child {
	margin:auto 0px;
	line-height: 1.75;
}
.face_login a:first-child,
.google_login a:first-child
{
	padding:15px;
}
.text_border {
	border: 1px solid #dbdcde;  /* #dbdcde*/	
	margin: 12px 0px;
	color: #dbdcde;
}
.text_border:before {
	content: "hoặc";
	position: absolute;
	left: 42%;
	background: #fff;
	top: 0px;
	padding: 10px;
}
.text_hoac {
	padding: 10px 13px 10px 20px;
}
.pass_regis .col-md-6{
	margin-top: 20px;
}
.pass_regis .col-md-6:last-child{
	text-align: right;
}
.form_login h2 {
	margin-bottom: 50px;
}
.minder_login input[type="checkbox"] {
	margin: 20px 0px;
	
}
.save_pass,
.pass_regis .col-md-6 a
 {
	color:#2078DB;
}
.container .row  .modal .modal-dialog {
	display: flex;
}
.container .row  .modal .modal-dialog form {
	margin:0px auto;
}
  
/*END FORM*/

/*FORM REGISTER*/
.text_register h2{
	font-weight: 500;
	padding:30px 0px 40px 0px;
	color:#7D7E81;
}
.re-pass {
	margin-bottom: 30px;
}
.submit_form_register {
	margin-top:30px;
}
.dieukhoan input {
	/*margin:30px 0px;*/
}
.re_login p{
	margin:90px 0px 0px 0px;
}
.new_minder_Acc input {
	color:#7B7C7E;
}
/*END FORM REGISTER*/