<!DOCTYPE html>
<html>
<head>
    <title>AAAA</title>
    <meta charset="utf-8">
    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">-->
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../../public/css/bootstrap.min.css">

    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" type="text/css" href="../../public/css/bootstrap-material-design.css"/>
    <link rel="stylesheet" type="text/css" href="../../public/css/ripples.min.css"/>
    <script src="../../public/js/jquery.min.js"></script>
    <script src="../../public/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../../public/css/custom.css"/>
    <link rel="stylesheet" type="text/css" href="../../public/css/custom_respon.css"/>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
</head>

<body> 
<nav class="navbar  header_bar">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header menu_respon">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#showMenu" aria-expanded="true">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class=" minder_home" href="#"><span class="color_logo_minder"> Mind</span>er</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse menu_left" id="showMenu">
            <ul class="nav navbar-nav  ">
                <li class="menu_button  "><a href="#" class="menu_hover">Khóa học</a></li>
                <li class="menu_button  active "><a href="#" class="menu_hover">Bài học</a></li>
                <li class="menu_button  "><a href="#" class="menu_hover">Góp ý</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right  ">
                <li class="menu_button"> <a href="#" class="menu_hover" data-toggle="modal" data-target="#modal_login">Đăng nhập</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <img src="../../public/images/Vietnam.png" class="flag_"> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" >1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#"> </a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid --> 
</nav> 
  <div class="main_baihoc">
    <div class="container">
      <div class="row row_khoahoc btn_st_game_">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4 col-xs-6 col-sm-6 col-cs-12 col-ct-12 btn_margin_goiy_khoahoc ">
              <button class="col-md-12 col-xs-12 col-sm-12 col-ct-12 contract"><span class="ct_margin_left">Luyện tập</span></button>
            </div>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-12 col-sm-12 col-xs-12 col-ct-12 col-cs-12">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-12 g_link_word navbar luyentap1">
                <div class="col-md-12">   
                  <div class="col-md-1 lt_close">
                    <a href="#"><i class="fa fa-times" aria-hidden="true"></i> </a>
                  </div>
                  <div class="col-md-8">
                    <ul class="checkout-bar col-md-12">
                      <li class="visited first">
                         
                      </li>
                    </ul>
                  </div>  
                  <div class="col-md-2 col-md-offset-1 lt_time_number">
                    <div class="col-md-10 col-md-offset-2">
                      <p> 100 </p>
                    </div>  
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-7">
                    <div class="col-md-10">

                    </div>
                    <div class="col-md-2">

                    </div>
                  </div>
                  <div class="col-md-5">

                  </div>
                </div>
                <button>Tiếp tục</button>
                </div>
                
              </div>   
            </div>
          </div>
        </div>
      </div>     
    </div>
   
   
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6 col-cs-12 footer">
                <ul>
                    <li><a href="#"><strong>Minder</strong></a></li>
                    <li><a href="">Giới thiệu</a></li>
                    <li><a href="#">Khóa học</a></li>
                    <li><a href="#">Liên hệ</a></li>
                    <li><a href="#">Đội ngũ</a></li>
                    <li><a href="#">Cơ hội việc làm</a></li>
                    <li> <a href="#">Điều khoản sử dụng</a></li>
                    <li><a href="#">Chính sách bảo mật</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 col-cs-12">
                <ul>
                    <li><a href="#"><strong>Xem thêm</strong></a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Diễn Đàn</a></li>
                    <li ><a href="#">Giáo viên</a> </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 col-cs-12">
                <ul>
                    <li><a href="#"><strong>Trợ giúp</strong></a></li>
                    <li><a href="#">Câu hỏi thường gặp</a></li>
                    <li><a href="#">Câu hỏi thường gặp</a></li>
                    <li><a href="#">Trợ giúp</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 col-cs-12">
                <ul>
                    <li><a href="#"><strong>Tìm khóa họa</strong></a></li>
                    <li><a href="">Ngoại ngữ</a></li>
                    <li><a href="#">Nghệ thuật và văn học</a></li>
                    <li><a href="#">Toán học và khoa học</a></li>
                    <li><a href="#">Thế giới tự nhiên</a></li>
                    <li><a href="#">Lịch sử địa lý</a></li>
                    <li><a href="#">Chuyên môn và nghề nghiệp</a></li>
                    <li><a href="#">Giải trí</a></li>
                    <li><a href="#">Khoa học thưởng thức</a></li>
                    <li><a href="#">Học tiếng tây Ban Nha</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>